<dl>
  <dt>Name</dt>
  <dd>{{ page.baker.name }}</dd>
  <dt>Website</dt>
  <dd><a href="{{ page.baker.url}}" target="_blank">{{ page.baker.url}}</a></dd>
  <dt>Address</dt>
  <dd>{{ page.location.street.address }}, {{ page.location.street.city }} {{ page.location.street.zip }}</dd>
  <dt>Hours</dt>
  <dd>
    {% if page.location.hours.always == true %}
      Always open
    {% else %}
      <table class="hours">
        <tr>
          <th>Day</th>
          <th>Opens</th>
          <th>Closes</th>
        </tr>
        {% for day in page.location.hours.days %}
        <tr>
          <td>{{ day[0] | capitalize }}</td>
          <td>{{ day[1].from }}</td>
          <td>{{ day[1].till }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}
  </dd>
  <dt>Score</dt>
  <dd>
    {{ page.rating }}
    <!-- <ul class="rating">
      {% for rating in site.ratingscale %}
      <li style="display: inline;" {% if rating == page.rating %} class="score" {% endif %} >{{ rating }}</li>
      {% endfor %}
    </ul> -->
  </dd>
  <dt>Subway Lines</dt>
  <dd>
    <ul class="subway">
      {% for line in page.location.subway.lines %}
        <li class="subway-{{ line | downcase }}">{{ line }}</li>
      {% endfor %}
    </ul>
  </dd>
</dl>
