$subway-circle-diameter: 30px;

ul.subway {
  margin-left:0;
  overflow: hidden;
  width: 100%;
}
ul.subway li {
  float: left;
  margin-right: $subway-circle-diameter/6;
}
.subway-a,
.subway-b,
.subway-c,
.subway-d,
.subway-e,
.subway-f,
.subway-g,
.subway-j,
.subway-l,
.subway-m,
.subway-n,
.subway-q,
.subway-r,
.subway-s,
.subway-w,
.subway-v,
.subway-z,
.subway-1,
.subway-2,
.subway-3,
.subway-4,
.subway-5,
.subway-6,
.subway-7, {
  border: none;
  width: $subway-circle-diameter;
  min-height: $subway-circle-diameter;
  border-radius: 50%;
  color: white;
  font-weight: 800;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.subway-a,
.subway-c,
.subway-e {
  background-color: blue;
}
.subway-b,
.subway-d,
.subway-f,
.subway-v, {
  background-color: orange;
}
.subway-g {
  background-color: limegreen;
}
.subway-j,
.subway-m,
.subway-z {
  background-color: brown;
}
.subway-l,
.subway-s {
  background-color: gray;
}
.subway-n,
.subway-q,
.subway-r,
.subway-w {
  background-color: yellow;
  color: black;
}
.subway-1,
.subway-2,
.subway-3 {
  background-color: red;
}
.subway-4,
.subway-5,
.subway-6 {
  background-color: green;
}
.subway-7 {
  background-color: magenta;
}
